{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illum deleniti delectus. Nostrum, tenetur alias ab error aspernatur minima laudantium consectetur ratione corrupti molestiae repellendus consequatur veritatis unde odio voluptas similique itaque ducimus suscipit dignissimos sunt ullam tempore impedit, aperiam nisi. Mollitia, soluta nobis. Iste incidunt vero est saepe cupiditate!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellendus accusamus eos perferendis. Esse repellat impedit quod consequatur voluptates. Debitis fuga ipsa doloribus tempora voluptatem molestias asperiores recusandae nihil beatae enim commodi temporibus, praesentium provident ex architecto sapiente dolore quod sunt odit dignissimos eum nam consequuntur voluptas quibusdam. Debitis, ipsum.</p>
</div>

{% endblock content %}


